<% if user = current_user %>
	<div class="backcontent">
		<div class="center">
			<div class="content"><hr>
				<div class="kiriman">
					<!--form-kiriman user-->
					<%= form_for(@kiriman, url: {action: 'postKiriman'}, method: 'post') do |f| %>
						<%= f.hidden_field :idUser, :value => user.id%>
						<div class="form-group">
							<%= f.text_area :kirimanUser, class:'text-kiriman', placeholder: 'kirimkan sesuatu ....'%>
						</div>
						<%= f.submit 'Post', class:'form-submit-kiriman' %>	
					<% end %>
					<div class="clear"></div>
					<!--end form-kiriman user-->
				</div>
				<hr>

				<!--kiriman user-->
				<% @news.each do |p| %>
					<div class="bg-kiriman">
						<div class="header-kiriman">
							<div class="header-kiriman nama" style="background: #ffffff">
								<%= User.find_by(id: p.idUser).nama %> <!--Nama Pengirim-->
							</div>
							
							<div class="header-kiriman action">
								<% x = p.id %>
								<%= link_to "v", hapusKirimanNews_path(x), method: :delete, class:'link' %>
							</div>
							<div class="clear"></div>
						</div>

						<!--Isi Kiriman-->
						<div class="isi-kiriman">
							<p><%= p.kirimanUser %></p>
						</div>
						<!--end Isi Kiriman-->
						
						<!--action kiriman-->
						<div class="action-kiriman">
							<!--komentar user-->
							<% Komentar.all.where(idKiriman: p.id).each do |d| %>
								<div class="isi-komentar">
									<p><b><%= User.find_by(id: d.idUser).nama %></b><!--namauser-->
										<%= d.komentarUser %><!--isi komentar-->
									</p>
								</div>
							<% end %>
							<!--end komentar user-->

							<!--form-komentar user-->
								<%= form_for(@koment, url: {action: 'postKomentar'}, method: 'post') do |f| %>
									<%= f.hidden_field :idUser, :value => user.id%>
									<%= f.hidden_field :idKiriman, :value => p.id%>
									<div class="form-group">
										<%= f.text_area :komentarUser, class:'text-komentar', placeholder: 'komentar...'%>
									</div>
									<%= f.submit 'Coment'%>
								<% end %>
							<!--end form-komentar user-->
						</div>
						<!--end action kiriman-->			
						<div class="clear"></div>
					</div>
				<% end %>
				<!--end kiriman user-->
			</div>
		</div>
	</div>
<% else %>
	<h3>Opps!!</h3>
<% end %>